{% extends "registration/layout.html" %} {% load socialaccount %} {%
providers_media_js %} {% block content %}

<div class="container my-5">
  <div class="row my-3">
    <!-- ERRORES -->
    {% if form.errors %}
    <div
      class="alert alert-warning alert-dismissible fade show col-md-6 mx-auto"
      role="alert"
    >
      <strong>Usuario o contraseña incorrectos, vuelva a intentar.</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
  </div>

  <!-- TITULO -->
  <div class="center">
    <div class="col-12 text-center">
      <h2 class="text-uppercase display-4" id="Nombrelogo">Iniciar sesion</h2>
    </div>
  </div>

  <!-- FORMULARIO -->
  <div class="center">
    <div class="col-md-6">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="/" />

        <!-- USUARIO -->
        <div class="form-group row">
          <label for="usuario" class="col-2 col-form-label" id="indicadores"
            >Usuario</label
          >
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              id="usuario"
              name="username"
              autofocus
              autocapitalize="none"
              autocomplete="username"
              maxlength="150"
              required
              id="id_username"
            />
          </div>
        </div>

        <!-- PASSWORD -->
        <div class="form-group row">
          <label
            for="inputPassword"
            class="col-2 col-form-label"
            id="indicadores"
            >Password</label
          >
          <div class="col-10">
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              name="password"
              autocomplete="current-password"
              required
              id="id_password"
            />
          </div>
        </div>

        <!-- BOTONES -->
        <div class="form-group row">
          <div class="col-4 offset-md-2">
            <button class="Contenedor" type="submit" id="nombrecontenedor">
              Login
            </button>
          </div>
          <button class="Contenedor">
            <a
              href="{% url 'TicketOn:register' %}"
              class="btn btn-secondary btn-block text-uppercase"
              id="nombrecontenedor"
              >Registrarse</a
            >
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
