{% extends 'Conex/Conex.html' %} {% block content %}{%load static%}
<link rel="stylesheet" href="{% static 'TicketOn/Inicio.css'%}" />
<style>
  #login-container {
    text-align: center;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: inline-block;
    text-align: left;
  }

  h1 {
    color: #333;
    margin-top: 100px;
  }

  h2 {
    margin-top: 10px;
    color: #333;
    justify-content: center;
  }

  label {
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    display: block;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
  }
</style>
<div id="login-container">
  <h1>Comprador</h1>
  <form method="POST" autocomplete="off">
    <h2>Iniciar Sesión</h2>

    {% csrf_token %}
    <label for="{{ loginform.username.id_for_label }}">Usuario:</label>
    {{ loginform.username }}

    <label for="{{ loginform.password.id_for_label }}">Contraseña:</label>
    {{ loginform.password }}

    <input type="submit" value="Ingresar" />
  </form>

  <a href="/comprador/register/">Registrarse</a>
</div>

{% endblock %}
