<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Jaeger</title>
  </head>
  <body>
    <header>
      <div id="main-nav_1">
        <nav class="main-nav">
          {%load static%} <img src={%static 'TicketOn/image/Icon.png '%}
          class="Logoimg"/>
          <a href="/home" id="NombreTJ">TicketJaeger</a>
        </nav>
      </div>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
