{% extends "Conex_comprador.html" %} {%block content%}
{%load static%}

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {%load static%}
        <link rel="stylesheet" href="{% static 'TicketOn/Comprador.css'%}" />
        <title>Detalles Evento</title>

    </head>
    <body>
        <div id="Tipo_evento">
            <h2>"Tipo de evento"<h2>
        </div>
        <div id="info_evento">
            <h2 id="nombre_evento">Nombre del evento</h2>
            <div id="bloque_1">
                <div id="div_precio">
                    <h2>Precio<h2>
                </div>
                <img src=""></img>
                <div id="div_cupos">
                    <h2>Cupos disponibles</h2>
                </div>
            </div>
            <div id="bloque_2">
                <h2>Descripción</h2>
                <p>Esto es la descripcion {% lorem 3 b random %}<p>
            </div>

            <div id="div_ubicacion">
                <h2>Ubicacion:</h2>
                <h2>Ubicacion del evento</h2>
            </div>

            <div id="bloque_3">
                <div id="bl3_1">
                    <div id="div_fechahora">
                        <h2>Fecha y Hora:</h2>
                        <h2>dd/mm/yyyy - hh:mm</h2>
                    </div>
        
                    <div id="div_organizador">
                        <h2>Organizador:</h2>
                        <h2>Organizador</h2>
                    </div>
                </div>
                <div id="bl3_2">
                    <button>
                        Agregar al carrito
                    </button>
        
                    <form>
                        <label for="cant_tickets">Cantidad de boletos:</label>
                        <input type="number" id="cant_tickets" name="cant_tickets" min="1">
                    </form>
                </div>
            </div>

            

        </div>
    </body>
    {%endblock%}
</html>