<!DOCTYPE html>
<html lang="es">
  <head>
    {%load static%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketJaeger</title>
  </head>
  <body>
    <header>
      <div id="main-nav_1">
        <nav class="main-nav">
          <div id= "divlogo">
            <img id="logo" src={%static 'TicketOn/image/Icon.png '%} alt="Logo de
          TicketJaeger" />
          <a id="brand" href="/home/">TicketJaeger</a>
          </div>
          <div id= "opc">
            <hr>
            <a href="/organizador/eventos/">Eventos en curso</a><hr>
            <a href="/organizador/eventos/creacion/">Creación de eventos</a><hr>          
          </div>
          <a href="/comprador/logout">Cerrar sesión</a>
        </nav>   
      </div>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
