<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div id="main-nav_1">
        <nav class="main-nav">
          <div id="divlogo">
            {%load static%} <img src={%static 'TicketOn/image/Icon.png '%}
            class="Logoimg"/>
            <a id="NombreTJ">TicketJaeger</a>
          </div>
          <div id="opciones">
            <a href="/comprador/eventos/" id="NombreTJ">Eventos</a>
            <a href="/comprador/carrito/" id="NombreTJ">Carrito</a>
            <a href="/comprador/ayuda/" id="NombreTJ">Ayuda</a>
          </div>
          <a href="{% url 'TicketOn:user-logout' %}" id="NombreTJ"
            >Cerrar Sesion</a
          >
        </nav>
      </div>
    </header>
    <div class="margen">{% block content %} {% endblock %}</div>
  </body>
</html>
