<!DOCTYPE html>
<html lang="es">
  <head>
    {%load static%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketJaeger</title>
  </head>
  <body>
    <header>
      <img id="logo" src={%static 'TicketOn/image/Icon.png '%} alt="Logo de
      TicketJaeger" />
      <a id="brand" href="/home/">TicketJaeger</a>
      <nav>
        <ul>
          <li><a href="/organizador/eventos/curso/">Eventos en curso</a></li>
          <li>
            <a href="/organizador/eventos/creacion/">Creación de eventos</a>
          </li>
          <li><a href="/comprador/logout">Cerrar sesión</a></li>
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
