<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Jaeger</title>
  </head>
  <body>
    <header>
      <div id="main-nav_1">
        <nav class="main-nav">
          <div id="divlogo">
            {%load static%} <img src={%static 'TicketOn/image/Icon.png '%}
            class="Logoimg"/>
            <a id="NombreTJ">TicketJaeger</a>
          </div>
          <div id="opciones">
            <a href="/organizador/eventos/curso/" id="NombreTJ"
              >Eventos en curso</a
            >
            <a href="/organizador/eventos/creacion/" id="NombreTJ"
              >Creación de eventos</a
            >
          </div>
          <a href="{% url 'TicketOn:user-logout' %}" id="NombreTJ"
            >Cerrar Sesion</a
          >
        </nav>
      </div>
    </header>
    <div class="margen">{% block content %} {% endblock %}</div>
  </body>
</html>
