/*---------------------------------Menu de navegacion---------------------------------*/
body {
  margin: 0px;
  box-sizing: border-box;
  /*background: #35b5de;*/
  background-color: #F4F2F2;
}
.margen {
  margin-top: 5%;
}

#main-nav_1 {
  display: flex;
  padding: 5px 5%;
  justify-content: space-between;
  box-shadow: 0px 10px 25px #00000043;
  background-color: #357ede;
  height: 60px;
  top: 0;
  position: fixed;
  width: 100%;
  transition-duration: 0.3s;
  z-index: 10;
}

#main-nav_1:hover {
  box-shadow: 0px 10px 25px #00000043;
  height: 70px;
  padding-top: 20px;
}

#divlogo {
  width: 20%;
  display: flex;
  justify-content: left;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  
  display: flex;
  
  padding-right: 100px;
}

#main-nav_1 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #E5E5E5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 20px;
  transition-duration: 0.3s;
  
}

#main-nav_1 a:hover{
  font-size: 30px;
  color:#000;
  opacity: 50%;
}

#cerr_ses:hover{
  font-size: 20px !important;
}

.main-nav hr{
  border: 1px solid black;
  padding: 0px;
  padding-top: 0px;
}

#opciones {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.Contenedor {
  border: 3px;
  background-color: #cbb000;
}

#nombrecontenedor {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

/*---------------------------------Cuerpo---------------------------------*/
#Seccion_1{
  display: flex;
  gap:20px;
  width: 80%;
  height: fit-content;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #E5E5E5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#Seccion_1_info h2{
  font-size: 30px;
  color: #000;
}

#Seccion_1 p{
  font-size: 15px;
  text-align: justify;
  font-weight:lighter;
  opacity: 70%;
}

#Seccion_1 img{
  width: 50%;
  height: auto;
}

#Seccion_2{
  display: flex;
  justify-content: space-around;
  gap:20px;
  width: 80%;
  height: fit-content;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #E5E5E5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#Seccion_2_Info{
  width: 50%;
  font-size: 20px;
  opacity: 50%;
}

#Seccion_Agregar{
  width: 40%;
}

#cant{
  width: 50px;
}

#btn{
  background-color: #357ede;
  color: #fff;
  height: 30px;
  transition-duration: 0.3s;
}

#btn:hover{
  background-color: #fff;
  color: #000;
  font-size: 15px;
}

h2 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  margin: auto;
}

footer{
  display: flex ;
  column-gap: 20px ;
  background-color: #0F2440;
  text-align:justify;
  text-justify:inter-word;
  width: 96%;
  padding: 30px;
  height: fit-content;
}

footer ul{
  color: #fff;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer p{
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  color: #E5E5E5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition-duration: 0.3s;
}
