/*Estilo Modulo 1*/
body {
  margin: 0px;
  box-sizing: border-box;
  background: #f9e97f;
}

header {
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  box-shadow: 0px 10px 25px #00000043;
  background-color: #ffcd3b;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
}

.margen {
  margin-top: 5%;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  padding-top: 18px;
}

.Contenedor {
  padding: 10px;
  margin-top: 3%;
  position: center;
  border: 3px;
  background-color: #cbb000;
}

#nombrecontenedor {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.Logoimg {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 35px;
  top: 8px;
}

.center {
  text-align: center;
}

#Nombrelogo {
  text-align: center;
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
}

#NombreTJ {
  text-decoration: none;
  padding-top: 10px;
  width: 137px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
