body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  background-color: #6e870a;
}

header {
  justify-content: center;
  align-items: center;
  background-color: #93c012;
  color: 000000;
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  display: block;
  margin-top: 10px;
  color: #000000;
  text-decoration: none;
}

.margen {
  margin-top: 5%;
}

#logo {
  width: 50px;
  margin-right: 10px;
}

#brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 250px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #555555; /* Cambia el color al pasar el ratón por encima */
}
