body {
  margin: 0px;
  box-sizing: border-box;
  background: #6e870a;
}

#main-nav_1 {
  display: flex;
  padding: 5px 5%;
  justify-content: space-between;
  box-shadow: 0px 10px 25px #00000043;
  background-color: #93c012;
  height: 70px;
}

#divlogo {
  width: 20%;
  display: flex;
  justify-content: left;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  display: flex;
  padding-top: 18px;
}

#opciones {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.Contenedor {
  border: 3px;
  background-color: #cbb000;
}

#nombrecontenedor {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.Logoimg {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 35px;
  top: 8px;
}

#NombreTJ {
  text-decoration: none;
  padding-top: 0px;
  width: 137px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
