{% extends 'Conex/Conex_comprador.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'TicketOn/Carrito.css' %}" />

<h1>Tu carrito</h1>

<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=AQDWQ5DHWzCXGvoh6tCdBLxAA2cPONYAr0Bn7Z5I8J0nbHBRDOc1FPLfjxDZ5A7KdN6C4tnDvY783A25"></script>

<div id="Carrito">
    {% if tickets_en_carrito %}
        {% for ticket in tickets_en_carrito %}
        <div id="tarjeta_ticket">
            {% if ticket.evento.imagen %}
            <img src="{{ ticket.evento.imagen.url }}" class="evento-img"></img>
        {% else %}
            <img src="{% static 'TicketOn/image/default_event_image.jpg' %}" class="evento-img"></img>
        {% endif %}
            
            <div id="info_ticket">
                <div id="linea1"><h2>{{ ticket.evento.nombre }}</h2><h3> ${{ ticket.precio }} - ID: {{ ticket.codigo }}</h3></div>
                <div class="linea"><h3>{{ ticket.evento.fecha }} - {{ ticket.evento.hora}}</h3></div>
                <div class="linea"><h3>{{ ticket.evento.lugar }}</h3></div>
            </div>
            <div id="Botones">
                <form action="{% url 'TicketOn:detalles_evento' ticket.evento.nombre ticket.evento.slug%}">
                    <input type="submit" value="Ver evento" />
                </form>
                <form method="POST" action="{% url 'TicketOn:quitar_del_carrito' ticket.id %}" >
                    {% csrf_token %}
                    <button type="submit">Quitar del carrito</button>
                </form>
            </div>
        </div>
        {% endfor %}

    {% else %}
        <div id="tarjeta_ticket">
            <div id="info_ticket">
                <h2>El carrito está vacío.</h2>
            </div>
        </div>
        
    {% endif %} 

    <div id="Div-Total">
        <div id="GB_Botones">
            <form action="{% url 'TicketOn:eventos'%}">
                <input type="submit" value="Seguir buscando" />
            </form>
            <form method="POST"  action="{% url 'TicketOn:limpiar_carrito' %}" >
                {% csrf_token %}
                <button type="submit">Limpiar carrito</button>
            </form>
        </div>
        <div id="Div-montofinal">
            <h2>Monto Total: ${{ montofinal }}</h2>
            
            <!-- Set up a container element for the button -->
            <div id="paypal-button-container"></div>
            <script montofinal="{{montofinal}}">
                paypal.Buttons({
                    createOrder: function(data,actions){
                        return actions.order.create({
                            purchase_units:[{
                                amount:{
                                    value:montofinal
                                }
                            }]
                        });
                },
                onApprove: function(data,acrtions){
                    return actions.order.capture().then(function(details){
                        alert('Transaction completed by '+ details.payer.name.given_name);
                    });
                }
                }).render('#paypal-button-container');
            </script>
            <!--<form method="POST" action="{% url 'TicketOn:pago_tarjeta'%}" >
                {% csrf_token %}
                <button type="submit">Procesar carrito</button>-->
            </form>
        </div>
    </div>
    
</div>



<!--<link rel="stylesheet" href="{% static 'TicketOn/Comprador.css' %}" />

<style>
  .quitarticket {
    background-color: #ff0000;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    box-sizing: border-box;
  }
</style>

<h1>Carrito</h1>

{% if tickets_en_carrito %}
<ul>
  {% for ticket in tickets_en_carrito %}
  <a>
    Nombre: {{ ticket.evento.nombre }} - Precio: ${{ ticket.precio }} - ID:
    {{ticket.codigo}}
  </a>
  <form
    method="post"
    action="{% url 'TicketOn:quitar_del_carrito' ticket.id %}"
  >
    {% csrf_token %}
    <button class="quitarticket" type="submit">Quitar del carrito</button>
  </form>
  {% endfor %}
</ul>
<p>Monto Total: ${{ montofinal }}</p>

{% else %}
<a>El carrito está vacío.</a>
{% endif %} {% endblock %}-->

