{% extends "Conex/Conex_comprador.html" %} {%block content%} {%load static%}

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {%load static%}
        <link rel="stylesheet" href="{% static 'TicketOn/Comprador.css'%}" />
        <title>TicketJaeger - {{evento.nombre}}</title>

    </head>
    <body>
        <br>
        <div id="Seccion_1">
            {% if evento.imagen %}
                <img src="{{ evento.imagen.url }}" class="evento-img"></img>
            {% else %}
                <img src="{% static 'TicketOn/image/default_event_image.jpg' %}" class="evento-img"></img>
            {% endif %}
            <div id="Seccion_1_Info">
                <h2 id="nombre_evento">{{evento.nombre}}</h2>
                <p>{{evento.descripcion}}<p>
            </div>
        </div>
        <div id="Seccion_2">
            <div id="Seccion_2_Info">
                <p>Oprganizador: {{evento.organizador}} - Precio: $ {{evento.precio}} </p>
                <p>Ubicacion: {{evento.lugar}} - Cupos disponibles: {{evento.cupo}}</p>
                <p>Fecha: {{evento.fecha}}  - Hora: {{evento.hora}} </p>
            </div>
            <div id="Seccion_Agregar">
                <form method="POST" action="{% url 'TicketOn:agregar_al_carrito' evento.slug %}">
                    {% csrf_token %}
                    <label for="cant_tickets">Cantidad de boletos:</label>
                    <input id="cant" type="number" id="cant_tickets" name="cant_tickets" min="1"><br><br>
                    <input id="btn" type="submit" value="Agregar al carrito">
                </form>
            </div>
        </div>
        <footer>
            <p href="/home/">TicketJaeger</p>
            <ul>
                <li>Telefono de atencion: 656-495-88-83<br></li>
                <li>Correo de atencion: TicketJaeger@ayuda.com<br></li>
                <li>Instagaram: @TicketJaeger<br></li>
                <li>Facebook: TicketJaeger<br></li>
            </ul>
        </footer>
    </body>
    {%endblock%}
</html>
