{% extends 'Conex/Conex_comprador.html' %} {% block content %} {%load static%}
<link rel="stylesheet" href="{% static 'TicketOn/Eventos.css'%}" />


<div id="Div-Busqueda">
    <form method="POST">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input id="nombre" name="nombre" type="text" placeholder="{{nombre_busq}}">

        <label for="tipo">Tipo:</label>
        <input id="tipo" name="tipo" type="text" placeholder="{{tipo_busq}}">

        <label for="lugar">Lugar:</label>
        <input id="lugar" name="lugar" type="text" placeholder="{{lugar_busq}}">

        <label for="fecha">Fecha:</label>
        <input id="fecha" name="fecha" type="date" placeholder="{{fecha_busq}}">

        

        <button>Buscar</button>
    </form>
</div>

<main id="Espacio-eventos">
    {%for evento in eventos%}
        <div class="Tarjeta-evento">
            {% if evento.imagen %}
                    <img src="{{ evento.imagen.url }}" class="evento-img"></img>
                {% else %}
                    <img src="{% static 'TicketOn/image/default_event_image.jpg' %}" class="evento-img"></img>
                {% endif %}
            <div class="Evento-info">
                <h2>{{evento.nombre}}</h2>
                <h3>{{evento.fecha}}</h3>
                <form action="{{evento.nombre}}/{{evento.slug}}">
                    <input type="submit" value="Ver evento" />
                </form>
            </div>  
        </div>
    {%endfor%}
</div>

<!--<script type="text/javascript" src="{% static 'TicketOn/Eventos.js'%}" ></script>-->


{% endblock %}
