{% extends "Conex/Conex_comprador.html" %} {%block content%} {%load static%}

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {%load static%}
        <link rel="stylesheet" href="{% static 'TicketOn/Comprador.css'%}" />
        <title>TicketJaeger -</title>

    </head>
    <style>
        #qr{
            width:50%;
            margin:auto;
            margin-top:200px;
            border:1px solid;
        }
    </style>
    <body>
       <div id="qr">
        <img src="{{img}}">
       </div>
    </body>
    
    {%endblock%}
</html>
